body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ADD8E6; /* Light blue background */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    display: block;
    max-width: 100px; /* Make the image smaller */
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    color: #1b39bd; /* Light blue color for ordered list */
    border: 2px solid #000; /* Black border around the ordered list */
    padding: 10px; /* Padding inside the box */
    margin: 20px; /* Margin outside the box */
    background-color: #040404; /* Light background for contrast */
}


